body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #333;
    background-image: 'https://i.pinimg.com/originals/1d/d5/96/1dd596926e2ac4272fd3b8e7218a2daf.gif';
  }
  